.shorts-container {
  margin: 50px 0;
}

.shorts-header {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.shorts-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

.shorts-header {
  margin-bottom: 24px;
}

.shorts-colored-icon {
  width: 24px;
  margin: 0 8px;
}

.shorts-title {
  font-size: 20px;
  font-weight: bold;
  font-family: Roboto, "Arial";
}

.shorts-info-grid {
  display: grid;
  grid-template-columns: 1fr 25px;
}

@media (max-width: 800px) {
  .shorts-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .shorts-grid > :nth-child(4),
  .shorts-grid > :nth-child(5) {
    display: none;
  }
}
